.btn{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #22a6b3;
    font-size: 1em;
    color:white;

    &:hover{
        background-color: #6ab04c;
    }
}

.btn-delete{
    background-color:#e84118;
    padding: .8rem;

    &:hover{
        background-color: #c23616;
    }
}