table{
    width: 100%;
    border-collapse: collapse;

    .heading-row{
        background-color: black;
        color: white;
    }
    th{
        padding: 2%;
        text-align: center;
    }

    td{
        padding: 1%;
        text-align: center;
    }

    .data-row{
        &:nth-child(even){
            background-color: #dff9fb;
        }
        background-color: #c7ecee;

        &:hover{
            background-color: #535c68;
            color:white;
        }

        td{
            font-size: 1rem;
        }
    }
}