.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color:#2f3640;
    grid-gap: 2%;
    max-height: 96vh;
    margin-top: 2vh;
}
.item {
    // background-color:#f9ca24;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    font-size:1rem;
}
.formArea{
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
    padding: 2%;
    border:1px solid white;
}
.table1{
    grid-column: 1/3;
    grid-row:2/3;
    overflow-x: auto;
    overflow-y: auto;
}
.table2{
    grid-column: 3/5;
    grid-row: 2/3;
    overflow-x: auto;
    overflow-y: auto;
}
.forms{

.formGroup{
    margin-bottom: 3rem;
}
}
.right-btn{
    float: right;
}
.mr-2{
    margin-right: 5px;
}
.error-message{
    color:#ff3f34;
    position: absolute;
    bottom: 5;
    left: 15px;
}
